.icon-bg{
    font-size: 70vw;
    color: #12659933;
    position: absolute;
    z-index: -2;
    left: 10%;
    top: -30%;
}
.row{
    margin: 15% 0 ;
}

.btn{
    border-radius: 30px;
    background-color:  #1da1f2;
    color: white;
    margin: 20px 0;
}