<div class="row" *ngIf="userNick">

    <div class="col-md-4 d-flex justify-content-center">
        <div style="margin-top: 50px;">
       <!-- <img src="{{imageSrc}}" alt="image_Profile" class="imageProfile" id="img-upload" >
        
         <p>Cambiar Imagen</p>
          <div class="input-group">
              <span class="input-group-btn">
                  <span class="btn btn-default btn-file">
                       <input type="file" id="imgInp">
                  </span>
              </span>
            
          </div>  -->
          
          <input type='file' onchange="readURL(this);" />
          <img id="blah" src="http://placehold.it/180" alt="your image" />
  
         </div>
    </div>

  <div class="col-md-8 d-flex justify-content-start">

    <div class="col-md-10" style="margin-top: 80px;">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-child"></i></span>
            </div>
            <input  [(ngModel)]="userNick" type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1" id="ddd" name="ddd">
          </div>

          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fab fa-creative-commons-by"></i></span>
              </div>
              <input [(ngModel)]="userSubNick" type="text" class="form-control" placeholder="Last Name" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
                </div>
                <input [(ngModel)]="userEmail"  type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1" disabled>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
                </div>
                <input [(ngModel)]="UserName"  type="text" class="form-control" placeholder="User Name" aria-label="Username" aria-describedby="basic-addon1">
             
                </div>

                <button style="width: 100%;" (click)="updateUser()">Guardar</button>

    </div>
 
  </div>

</div>



