
<div class="content">
    <i class="fab fa-twitter icon-bg"></i>
  <div class="container-fluid">
    <div class="row ">
      <div class="col-6 bg-blue align-self-center" >
      
        <div class="row ">
            <div class="col-1"></div>
            <div class="col-9 index-1 ">
          
                <h5 class="txt-login" >
                    <i class="fas fa-search"></i> Sigue lo que te interesa.
                </h5>
                <h5 class="txt-login">
                    <i class="fas fa-user-friends"></i> Entérate de lo que está hablando la gente.
                </h5>
                <h5 class="txt-login">
                    <i class="far fa-comment"></i> Únete a la conversación.
                </h5>
              
        </div>
      </div>
      </div>
      <div class="col-6 index-1" style="background-color: white">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-4">
            <input [(ngModel)]="emailUser" class="txt-log" type="text" placeholder=" Correo electronico">
          </div>
          <div class="col-4">
              <input [(ngModel)]="passUser" class="txt-log" type="password" placeholder=" Contraseña">
              <a routerLink="/resetPassword"> <small>¿Olvidaste tu contraseña?</small> </a>
          </div>
          <div class="col-3">
            <button class="btn btn-inicio" (click)="login()">Iniciar Sesión</button>
          </div>
        </div>

        <div class="row" style="margin: 5% 0;">
          <div class="col-2"></div>
          <div class="col-6">
            <i class="fab fa-twitter icon-inicio"></i>
            <h3>Descubre lo que está pasando en el mundo en este momento</h3>
            
          </div>
        </div>

        <div class="row" style="margin: 5% 0;">
            <div class="col-2"></div>
          <div class="col-6">
            <h5>Únete hoy a Twitter.</h5>
            <button class="btn btn-registro w-100" routerLink="/register">Registrarse</button>
            <button class="btn btn-inicio w-100">Iniciar Sesión</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
