.buttonRad {
    
    border-radius: 25px;
}
.dropdown-toggle::after {
    display:none;
}

.right{
    float: right;
}

.colorGreen2{
    color: #3ab0b0;
}

.noBorder{
border: 0px;
}


.colorLightGray{
    color: lightgray;
}

.bgTextBox{
    background-color: #e5f5f5;
}

.sizeTo32{
    border-radius: 50%;
    width: 22px;
    height: 32px;
}

.textWhite{
    color: white;
}

.colorLightGray{
    color: lightgray;
}
.borderRad{   
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.bgWhite{
    background-color: white;
}

.fontSize{
    font-size: 15px;
}

.colorBlue{
    color: #0000ff;
}

.colorGreen{
    color: #32adad;
}

.cursorStyle:hover{
    cursor: pointer;
    color: #32adad;
    border-bottom: 1px solid #32adad;
}
