<nav class="navbar navbar-expand-lg navbar-light bg-light">

<!-- <div class="row"> -->
    <div class="container row">
        
        <div class="col-6 d-flex justify-content-center">
            <div routerLink="/home">
                <span class="navbar-brand fontSize cursorStyle" href="#">
                    <i class="fas fa-home " ></i>
                    Inicio</span>
            </div>
            <span class="navbar-brand fontSize cursorStyle" href="#">
                <i class="fas fa-bolt"></i>
                Momentos</span>
            <span class="navbar-brand fontSize cursorStyle" href="#">
                <i class="fas fa-bell"></i>
                Notificaciones</span>
            <span class="navbar-brand fontSize cursorStyle" href="#">
                <i class="far fa-envelope"></i>
                Mensajes</span>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <i class="colorGreen fab fa-twitter"></i>
        </div>

        <div class="col-6 d-flex justify-content-center">
            <div class="row">
            <div class="col-8 input-group d-flex justify-content-start">
                <input type="text" class="form-control buttonRad" placeholder="Buscar en Twitter" aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-prepend ">
                    <i class=" input-group-text  fas fa-search bgWhite  " id="basic-addon1"></i>
                </div>
            </div>
            <img class="col-2 d-flex justify-content-center borderRad" src="/assets/images/profileDefault.png" alt="img">
            <button class="col-2 d-flex justify-content-center btn btn-success buttonRad textWhite fontSize" type="submit">Twittear</button>
    </div></div>
</div>
    <!-- </div> -->
</nav>



<router-outlet></router-outlet>
