.buttonRad {
    
    border-radius: 25px;
}
.dropdown-toggle::after {
    display:none;
}

.right{
    float: right;
}

.colorGreen2{
    color: #1da1f2;
}

.noBorder{
border: 0px;
}


.colorLightGray{
    color: lightgray;
}

.bgTextBox{
    background-color: #e5f5f5;
}

.sizeTo32{
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

.textWhite{
    color: white;
}

.colorLightGray{
    color: lightgray;
}
.borderRad{   
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.bgWhite{
    background-color: white;
}

.fontSize{
    font-size: 15px;
}

.colorBlue{
    color: #0000ff;
}

.colorGreen{
    color: #32adad;
}

.cursorStyle{
color: gray;
margin: 0 20px;
}

.cursorStyle:hover{
    cursor: pointer;
    color: #1da1f2;
    border-bottom: 1px solid #1da1f2;
}

#basic-addon1{
    border-radius: 0px 30px 30px 0px;
}

.btn-blue{
    background-color:#1da1f2;
    padding: 10px 40px;
    margin: 0 40px;
}

.btn-blue:hover{
    background-color:#187ebd;
}

.btn-blue2{
    padding: 10px 10px; 
    display: inline; 
    background-color: #1da1f2;
    margin: 10px 0;
}

.btn-blue2:hover{
    background-color:#187ebd;
}