<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand" href="#">Inicio</span>
    <span class="navbar-brand" href="#">Momentos</span>
    <span class="navbar-brand" href="#">Notificaciones</span>
    <span class="navbar-brand" href="#">Mensajes</span>
    <i class="fab fa-twitter"></i>
     
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="display: inline;">Search</button>
     
  </nav>
  <router-outlet></router-outlet>
