<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="router.url != '/login'  && router.url != '/register' && router.url != '/resetPassword'">


<!-- <div class="row"> -->
    <div class="container row">
        
        <div class="col-6 d-flex justify-content-center">
            <div routerLink="/home">
                <span class="navbar-brand fontSize cursorStyle" href="#">
                    <i class="fas fa-home " ></i>
                    Inicio</span>
            </div>
            <span class="navbar-brand fontSize cursorStyle" href="#">
                <i class="fas fa-bolt"></i>
                Momentos</span>
            <span class="navbar-brand fontSize cursorStyle" href="#">
                <i class="fas fa-bell"></i>
                Notificaciones</span>
            <span class="navbar-brand fontSize cursorStyle" href="#">
                <i class="far fa-envelope"></i>
                Mensajes</span>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <i class="colorGreen fab fa-twitter"></i>
        </div>

        <div class="col-6 d-flex justify-content-center">
            <div class="row">
            <div class="col-6 input-group d-flex justify-content-start">
                <input type="text" class="form-control buttonRad" placeholder="Buscar en Twitter" aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-prepend ">
                    <i class=" input-group-text  fas fa-search bgWhite  " id="basic-addon1"></i>
                </div>
            </div>
            
            <!-- <button ngbDropdown class="d-inline-block"> <img class="col-2 d-flex justify-content-center borderRad" src="/assets/images/profile.png" alt="img"> -->
            
                <div ngbDropdown class="d-inline-block">
                        <button class="dropdown-toggle noBorder bg-light" id="dropdownBasic1" ngbDropdownToggle>
                                <img class="borderRad" src="/assets/images/profile.png" alt="img">
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button class="dropdown-item" >Oscar Recio <br> @OscarRecio</button>
                          <hr>
                          <button class="dropdown-item" routerLink="/editProfile" >
                                <i class="fas fa-user"></i>
                            Perfil
                          </button>
                          <button class="dropdown-item" >
                                <i class="fas fa-list"></i>
                            Listas</button>
                          <button class="dropdown-item" >
                                <i class="fas fa-bolt"></i>
                            Momentos</button>
                          <hr>
                          <button class="dropdown-item" >
                                <i class="fas fa-chart-line"></i>
                            Twitter Adds</button>
                          <button class="dropdown-item" >
                                <i class="far fa-chart-bar"></i>
                            Analytics</button>
                          <hr>
                          <button class="dropdown-item" >
                              Configuración y privacidad</button>
                          <button class="dropdown-item" >
                              Centro de Ayuda</button>
                          <button class="dropdown-item" >
                              Atajos de teclado</button>
                          <button class="dropdown-item" (click)="logOut()" >
                              Cerrar Sesión</button>
                          <hr>
                          <button class="dropdown-item" >
                            Modo Noche
                            <i class="far fa-moon"></i>
                            </button>
                        </div>
                      </div>
            
            <!-- <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>X</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item" routerLink="/editProfile">Editar</button>
                      <button class="dropdown-item" (click)="logOut()">LogOut</button>
                    </div>
                  </div> -->
            <button class="col-2 d-flex justify-content-center btn btn-success buttonRad textWhite fontSize"(click)="open(content)" type="submit">Twittear</button>
    </div></div>
</div>
    <!-- </div> -->
</nav>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Redactar un nuevo Tweet</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
<!-- CONTENIDO MODAL -->
    <div class="modal-body bgTextBox">
      <form>
        <div class="row">
            

          <img class="col-2 sizeTo32" src="/assets/images/profile.png" alt="img">
          
          <div class="form-group col-9">
                <div class="form-control">
                    <div class="row">
                            <div class="col-1"></div>
                        <textarea name="name1" [(ngModel)]="tweetText" class="noBorder col-9" placeholder="¿Qué está pasando?" ></textarea>
                        <div class="col-1"><i class="far fa-smile right"></i></div>
                    </div>
                    <!-- <textarea rows="3" > </textarea> -->
                    
                </div>
                <div class="row">
                    <!-- <div class="col-1"></div> -->
                    <button class="btn colorGreen2 bgTextBox"><i class="far fa-image colorGreen2"></i>
                    </button>
                    <!-- <div class="col-1"></div> -->
                    <button class="btn colorGreen2 bgTextBox">Gif</button>
                    <!-- <div class="col-1"></div> -->
                    <button class="btn colorGreen2 bgTextBox"><i class="fas btn fa-chart-bar colorGreen2"></i>
                    </button>
                    
                    <!-- <div class="col-1"></div> -->
                    <button class="btn colorGreen2 bgTextBox"> <i class="fas btn fa-map-marker-alt colorGreen2"></i>
                    </button>
                   
                    <!-- <div class="col-1"></div> -->
                    <button class="btn colorGreen2 bgTextBox"><i class="fas btn fa-plus colorGreen2"></i>
                    </button>
                    
                    <button (click)="tweet()"class="btn btn-success buttonRad textWhite fontSize" type="submit">Twittear</button>
                    

                </div>
            </div>
        </div>
        
      </form>
    </div>
<!-- FOOTER MODAL -->
  </ng-template>


<router-outlet></router-outlet>
