
<!--<input class="toggle" id="toggle" type="checkbox">
<div class="social-share-wrap">
	<div class="cover">
		<img class="image" src="https://4d5f7a333917cc5d02852a128da9e34c7a2ca424.googledrive.com/host/0Bx6oatWuAelsZTRfXzRVSG5EZnc/codecanyon/mk_flat_price_table.gif">
	</div>
	<div class="content">
		<label class="label" for="toggle"><i class="fa fa-share-alt"></i></label>
		<div class="title"><b>MK Flat Price Table</b></div>
		<div class="text">A modern design price tables that is fully responsive and compatible with font-awesome and bootstrap.</div>
		<div class="price">$5.00</div>
		<a class="buy" target="_blank" href="http://codecanyon.net/item/mk-flat-pricing-table/13404608?ref=khadkamhn"><i class="fa fa-shopping-cart"></i> Buy</a>
	</div>
	<div class="social-share-overlay">
		<label class="close" for="toggle">×</label>
		<div class="social-share-links">
			<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?display=popup&u=http%3A%2F%2Fcodecanyon.net%2Fitem%2Fmk-flat-pricing-table%2F13404608%3Fref%3Dkhadkamhn"><i class="fa fa-facebook"></i> Facebook</a>
			<a target="_blank" href="https://twitter.com/intent/tweet?text=Check+out+%27MK+Flat+Pricing+Table%27+on+%23EnvatoMarket+by+%40khadkamhn+%23codecanyon&url=http%3A%2F%2Fcodecanyon.net%2Fitem%2Fmk-flat-pricing-table%2F13404608%3Fref%3Dkhadkamhn"><i class="fa fa-twitter"></i> Twitter</a>
			<a target="_blank" href="https://pinterest.com/pin/create/button?description=MK+Flat+Pricing+Table&media=http%3A%2F%2F0.s3.envato.com%2Ffiles%2F156087519%2Fmk_flat_price_table.png&url=http%3A%2F%2Fcodecanyon.net%2Fitem%2Fmk-flat-pricing-table%2F13404608%3Fref%3Dkhadkamhn"><i class="fa fa-pinterest"></i> Pinterest</a>
		</div>
	</div>
</div>
<br>
<hr>-->

<div class="card">
	<div class="card-body">
		<div class="row">
				<div class="col-2">
						<img src="/assets/images/profile.png" class="img-fluid img-profile" alt="">
					</div>
						
					<div class="col-10">
							<h5 class="card-title">Special title treatment</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<i class="far fa-comment icon icon1"></i>
							<i class="fas fa-retweet icon icon2"></i>
							<i class="fas fa-heart icon icon3"></i>
							<i class="far fa-envelope icon icon1"></i>
					</div>
		</div>
		
		
	</div>
</div>