.icon{
	color: gray;
	margin: 0 20px;
}
.img-profile{
	border-radius: 30px;
}

.icon1:hover{
	color: blue;
}
.icon2:hover{
	color: green;
}
.icon3:hover{
	color: red;
}
.card{
	width: 39.5vw;
	margin: 20px 0;
}

.card:hover{
	background-color: rgb(242, 251, 255);
}