/*.u-boxShadow{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

.placeholderImage {
    border-radius: 50%;
    height: 90px;
    left: 0;
    position: relative;
    top: 0;
    width: 90px;
}
.ProfileNav-stat {
    height: 60px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 0 solid;
        border-bottom-color: currentcolor;
        border-bottom-width: 0px;
    display: block;
    line-height: 1;
    padding: 14px 30% 7px;
    transition: all .15s ease-in-out;

}
.ProfileNav-value{
    
    color: #66757f;
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
    transition: color .15s ease-in-out;
}

.EdgeButton--secondary {
    background-color: #fff;
    border: 1px solid #1da1f2;
    color: #1da1f2;
    min-width: 105px;
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}
.navbarbutton
{
    padding-left: 50%
}*/

.jumbotron{
    background-image: url("/assets/images/banner.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20% 0% 0% 0%;
    margin-bottom: 0px;
}
 .img{
    width: 200px;
    height: 200px;
    border-radius: 150px;
    overflow: hidden;
    margin-top: 10%;
    margin-left: 10%;
    position: relative;
    top: -300px;
    border: 5px solid white;
 }

 .img-profile{
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.navs{
    background-color: white;
}

 .btn{
     border: 1px solid gray;
     border-radius: 100px;
     background-color: white;
     color: gray;
     margin-left: 300%;
     margin-top: 15%;

 }

 .up-all{
     margin: auto auto;
     top: 550px;
     position: absolute;
 }

 .img-follow{
    width: 50px;
    height: 50px;
    border-radius: 150px;
    overflow: hidden;
    margin-top: 10%;
    margin-left: 10%;
    position: relative;
    top: 00px;
    display: inline-block;
 }
.img-g{
    position:relative;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
.card-body small{
    position: relative;
    margin: 10px;
    top: -20px;
}



.icon{
	color: gray;
	margin: 0 20px;
}
.img-profile{
	border-radius: 30px;
}

.icon1:hover{
	color: blue;
}
.icon2:hover{
	color: green;
}
.icon3:hover{
	color: red;
}

.card:hover{
	background-color: rgb(242, 251, 255);
}