

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron jumbotron-fluid"></div>
      <div class="navs">
        
          <ul class="nav justify-content-center" style="text-align: center">
              <li class="nav-item" >
                <a class="nav-link" href="#">Link
                <h6>100</h6></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link
                <h6>100</h6></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link
                <h6>100</h6></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link
                <h6>100</h6></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Link
                  <h6>100</h6></a>
                </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Link
                  <h6>100</h6></a>
              </li>
              <li class="nav-item">
                <button class="btn">Editar Perfil</button>
              </li>
            </ul>
      </div>
      <div class="img">
        <img src="assets/images/banner.jpg" alt="" class="img-profile">
      </div>
    </div>
  </div>
  
</div>
<div class="container-fluid up-all">
    <div class="row">
      <dir class="col-1"></dir>
        <div class="col-3">
          <h3>Nombre Usuario</h3>
          <small>@twitter</small>
          <p><i class="fas fa-map-marker-alt"></i> Locación</p>
          <p><i class="far fa-calendar-alt"></i> Se unio</p>
          <p><i class="fas fa-gift"></i> Cumpleaños</p>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body" >
                    <div >
                        <div class="card" style="width: 100%" *ngFor="let tweet of userTwetsById" >
                          <div class="card-body">
                            <div class="row">
                            <div class="col-2">
                                <img src="/assets/images/profile.png" class="img-fluid img-profile" alt="">
                              </div>
                                
                              <div class="col-10">
                                <h5 class="card-title">{{tweet.userName}} <small>{{tweet.date}} - {{tweet.hour}}</small></h5>
                                <p class="card-text">{{tweet.tweet}}</p>
                                <i class="far fa-comment icon icon1"></i>
                                <i class="fas fa-retweet icon icon2"></i>
                                <i class="fas fa-heart icon icon3"></i>
                                <i class="far fa-envelope icon icon1"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
        </div>
        <div class="col-3"> 
            <div class="card">
                <div class="card-body">
                  <h4> A quién seguir</h4>
                  <div class="img-follow">
                      <img src="assets/images/banner.jpg" alt="" class="img-f">
                  </div>
                  <small>@usuario</small>
                  
                </div>
              </div>
        </div>
      </div>
</div>