.u-boxShadow{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}
.Grid-cell {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
    width: 100%;
}
.placeholderImage {
    -moz-force-broken-image-icon: 1;
    border-radius: 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}