/* You can add global styles to this file, and also import other style files */
marTop5{
    margin-top: 5px;
}
marTop10{
    margin-top: 10px;
}
marTop15{
    margin-top: 15px;
}
marTop20{
    margin-top: 20px;
}

paddTop10{
    padding-top: 10px;
}
