<div>
  <div class="container">
    <div class="row marTop20">
      <div class="col-3" style="background-color: aqua">
        <div class="profileBanner">

        </div>
        <div class="profilePicture">

        </div>
        <div class="botNumbers">

        </div>
      </div>
      <div class="col-6" style="background-color: tomato">
        b
      </div>
      <div class="col-3" style="background-color: purple">
        c
      </div>
    </div>
  </div>
</div>


<ul>
  <li *ngFor="let item of userAll">{{item.name}}</li>
</ul>

<hr>

<ul>
  <li  *ngFor="let item of twetsAll">{{item.tweet}}</li>
</ul>