

<!--<div class="container">
  <div class="card card-container">-->
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
     <!-- <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p> -->
          <!--<p>Si ya tienes cuenta <a routerLink="/login">ingresa aquí</a></p>
          <span id="reauth-email" class="reauth-email"></span>

          <input  [(ngModel)]="name" type="text"  placeholder="Nombre" required autofocus style="margin: 5px;">
          <input  [(ngModel)]="emailUser" type="email"  placeholder="Email" required autofocus style="margin: 5px;">
          <input  [(ngModel)]="passUser" type="password" placeholder="Contraseña" required style="margin: 5px;">
          <input  [(ngModel)]="repeatPassUser" type="password" placeholder="Repetir Contraseña" required style="margin: 5px; margin-bottom: 20px">
          -->
          <!-- <div id="remember" class="checkbox">
              <label>
                  <input type="checkbox" value="remember-me"> Remember me
              </label>
          </div> -->
         <!-- <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="register()">Registrar</button>
   
      <a href="#" class="forgot-password">
          Forgot the password?
      </a> 
  </div>
</div>-->


<div class="content">
        <i class="fab fa-twitter icon-bg"></i>
      <div class="container-fluid">
        <div class="row ">
          <div class="col-6 bg-blue align-self-center" >
          
            <div class="row ">
                <div class="col-1"></div>
                <div class="col-9 index-1 ">
              
                    <h5 class="txt-login" >
                        <i class="fas fa-search"></i> Sigue lo que te interesa.
                    </h5>
                    <h5 class="txt-login">
                        <i class="fas fa-user-friends"></i> Entérate de lo que está hablando la gente.
                    </h5>
                    <h5 class="txt-login">
                        <i class="far fa-comment"></i> Únete a la conversación.
                    </h5>
                  
            </div>
          </div>
          </div>
          <div class="col-6 index-1" style="background-color: white">
            <div class="row">
              
            </div>
    
            <div class="row" style="margin: 5% 0;">
              <div class="col-2"></div>
              <div class="col-7">
                <i class="fab fa-twitter icon-inicio"></i><br>
                <input class="form-control m-20" [(ngModel)]="name" type="text"  placeholder="Nombre" required autofocus >
                <input class="form-control m-20" [(ngModel)]="lastName" type="text"  placeholder="Apellido" required autofocus >
                <input class="form-control m-20" [(ngModel)]="emailUser" type="email"  placeholder="Email" required autofocus >
                <input class="form-control m-20" [(ngModel)]="passUser" type="password" placeholder="Contraseña" required >
                <input class="form-control m-20" [(ngModel)]="repeatPassUser" type="password" placeholder="Repetir Contraseña" required >
          
                
              </div>
            </div>
    
            <div class="row" style="margin: 5% 0;">
                <div class="col-2"></div>
              <div class="col-7" style="text-align: center">
                <h5>Únete hoy a Twitter.</h5>
                <button class="btn btn-registro w-100" (click)="register()">Registrarse</button>
                <small><a routerLink="/login">Iniciar sesión</a></small>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    